---
const personalImageAlt = "Yamila De Olivera";
import Game from "../components/icon/Game.astro";
import Moda from "../components/icon/Moda.astro";
import Maquillaje from "../components/icon/Brush.astro";
import Book from "../components/icon/Book.astro";
import Viajar from "../components/icon/Plane.astro";
import Music from "../components/icon/Music.astro";
import Fotografia from "../components/icon/Camera.astro";
import Gym from "../components/icon/Weight.astro";
---
<div> 
<article class="flex flex-col items-center justify-center gap-8 text-black dark:text-gray-100 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#ed6195] dark:[&>p>strong]:text-[#eb00bc] order-2 md:order-1"
  >
    <p>
      Me llamo Yamila, amante de los gatos. Me considero una persona bastante artística y lógica. Empecé en la
      programación gracias a la influencia de mi entorno en pandemia y me animé a dar mis primeros pasos con Henry. Actualmente estoy <strong
        >liderando mis propios proyectos y haciendo freelance</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >colaboraciones en páginas web y apps de ventas, tambien tengo mis propios proyectos de venta de productos</strong
      >. Aunque hoy en día programo más en Front-End, porque es lo que más me gusta, se descenvolverme en los demás ámbitos y siempre estoy en constante aprendizaje.
    </p>

    <p>
      Como programadora, <strong
        > soy siempre apasionada en lo que hago</strong
      >. Mi objetivo es mejorar y encontrar un equipo donde pueda colaborar con mis conocimientos y trabajo.
    </p>
  </div>

  <img width="200" height="200" src="/Img/photo.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-[conic-gradient(from_90deg_at_50%_50%,#00ffff_0%,#c43f70_50%,#00ffff_100%)]
 dark:bg-[linear-gradient(135deg,#eb00bc,#00d2ff)] ring-1 " style="object-position: 50% 50%">

</article>

<h2 class="mt-6 text-xl font-bold">Intereses Personales :</h2>
<div class="flex items-center justify-center mt-4">
<ul class="grid grid-cols-2 gap-16 md:gap-18 lg:gap-20 xl:gap-25 text-center text-sm font-medium dark:text-white/90 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
  <li class="flex flex-col items-center justify-center w-24 h-24 bg-[#f5b7cd] rounded-lg dark:bg-gray-700 hover:bg-[#ed6195] dark:hover:bg-[#eb00bc] hover:text-black transition-colors">
    <Game class="mb-2" />
    <a href="" class="">Videojuegos</a>
  </li>
  <li class="flex flex-col items-center justify-center w-24 h-24 bg-[#f5b7cd] rounded-lg dark:bg-gray-700 hover:bg-[#ed6195] dark:hover:bg-[#eb00bc] hover:text-black transition-colors">
    <Maquillaje class="mb-2" />
    <a href="" class="">Maquillaje</a>
  </li>
  <li class="flex flex-col items-center justify-center w-24 h-24 bg-[#f5b7cd] rounded-lg dark:bg-gray-700 hover:bg-[#ed6195] dark:hover:bg-[#eb00bc] hover:text-black transition-colors">
    <Moda class="mb-2" />
    <a href="" class="">Moda</a>
  </li>
  <li class="flex flex-col items-center justify-center w-24 h-24 bg-[#f5b7cd] rounded-lg dark:bg-gray-700 hover:bg-[#ed6195] dark:hover:bg-[#eb00bc] hover:text-black transition-colors">
    <Viajar class="mb-2" />
    <a href="" class="">Viajar</a>
  </li>
  <li class="flex flex-col items-center justify-center w-24 h-24 bg-[#f5b7cd] rounded-lg dark:bg-gray-700 hover:bg-[#ed6195] dark:hover:bg-[#eb00bc] hover:text-black transition-colors">
    <Fotografia class="mb-2" />
    <a href="" class="">Fotografía</a>
  </li>
  <li class="flex flex-col items-center justify-center w-24 h-24 bg-[#f5b7cd] rounded-lg dark:bg-gray-700 hover:bg-[#ed6195] dark:hover:bg-[#eb00bc] hover:text-black transition-colors">
    <Gym class="mb-2" />
    <a href="/" class="">Entrenar</a>
  </li>
  <li class="flex flex-col items-center justify-center w-24 h-24 bg-[#f5b7cd] rounded-lg dark:bg-gray-700 hover:bg-[#ed6195] dark:hover:bg-[#eb00bc] hover:text-black transition-colors">
    <Book class="mb-2" />
    <a href="" class="">Leer</a>
  </li>
  <li class="flex flex-col items-center justify-center w-24 h-24 bg-[#f5b7cd] rounded-lg dark:bg-gray-700 hover:bg-[#ed6195] dark:hover:bg-[#eb00bc] hover:text-black transition-colors">
    <Music class="mb-2" />
    <a href="" class="">Música</a>
  </li>
</ul>
</div>
</div> 