---
 const personalImageAlt = "Yamila De Olivera"
---

<article class="flex flex-col items-center justify-center gap-8 text-black dark:text-white md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-red-400 dark:[&>p>strong]:text-[#eb00bc] order-2 md:order-1"
  >
    <p>
      Me llamo Yamila, amante de los gatos. Me considero una persona bastante artistica y lógica. Empecé en la
      programación gracias a la influencia de mi entorno en pandemia y me anime a dar mis primeros pasos con Henry. Actualmente estoy <strong
        >liderando mis propios proyectos y haciendo freelance</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >colaboraciones en paginas web y apps de ventas, tambien tengo mis propios proyectos de venta de productos</strong
      >. Aunque hoy en dia programo más en FrontEnd, porque es lo que más me gusta, se descenvolverme en los demas ambitos y siempre estoy en constante aprendizaje.
    </p>

    <p>
      Como programadora, <strong
        > soy siempre apasionada en lo que hago</strong
      >. Mi objetivo es mejorar y encontrar un equipo donde pueda colaborar con mis conocimientos y trabajo.
    </p>
  </div>

  <img width="200" height="200" src="../../src/Img/photo.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-[conic-gradient(from_90deg_at_50%_50%,#00ffff_0%,#ff0000_50%,#00ffff_100%)]
 dark:bg-[linear-gradient(135deg,#eb00bc,#00d2ff)] ring-1 " style="object-position: 50% 50%">

</article>