---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE=[
{
    date: "Actualmente...",
    title: "Creador de app movile y página web",
    company: "Propio",
    description:
      "Creacion de aplicación y desarrollo web para ventas, tambien crea pdf de los productos para facil difusión. Utilizando React Native y JS",
  },
  {
    date: "Colaboración -> Enero 2024- Abril 2024",
    title: "Freelance FrontEnd",
    company: "Mercado de Negocios",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue.",
      link: "https://mercadodenegocios.la/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
