---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE=[
{
    date: "Actualmente...",
    title: "Creador de app mobile y página web",
    company: "Autónomo",
    description:
      "Creacion de aplicación y desarrollo web para ventas. Ambas cuentan con creación de archivos PDF de los productos en stock para facil difusión. Utilizando React para el sitio web, React Native para la app mobile y NodeJS con Express para el Back-End.",
  },
  {
    date: "Colaboración -> Enero 2024- Abril 2024",
    title: "Freelance Front-End",
    company: "Mercado de Negocios",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue.",
      link: "https://mercadodenegocios.la/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
