<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-black transition bg-pink border-2 border-red-500 rounded-full dark:bg-purple dark:border-[#eb00bc] dark:text-white focus-visible:ring-[#eb00bc] text-md dark:hover:bg-[#eb00bc] hover:bg-red-500 group max-w-fit hover:text-black focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-[#eb00bc] focus-visible:ring-offset-2 active:bg-[#eb00bc]"
>
  <slot />
</a>