---
import '@fontsource/kalam';
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- SEO Básico -->
    <meta name="description" content="Portafolio de Yamila De Olivera, Full Stack Developer especializado en React, Next.js y Node.js.">
    <meta name="keywords" content="Full Stack Developer, React, Next.js, Node.js, Django, Python, Portafolio, Desarrollo Web">
    <meta name="author" content="Yamila De Olivera">
    
    <!-- Open Graph (para compartir en redes sociales como LinkedIn) -->
    <meta property="og:title" content="Portafolio - Yamila De Olivera">
    <meta property="og:description" content="Explora mis proyectos y habilidades en desarrollo web.">
    <meta property="og:image" content="/public/Img/portafolio.png"> <!-- Cambia esto por una imagen relevante -->
    <meta property="og:url" content="https://master--portafolio-yamila-de-olivera.netlify.app/">
    <meta property="og:type" content="website">

    <!-- Icono de la Web -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Generador Astro -->
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <!-- Animaciones de Página -->
    <ViewTransitions />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C952QZT3MT"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'G-C952QZT3MT');
    </script>

</head>

  <body class="relative text-black bg-neutral-50 bg-[radial-gradient(ellipse_80%80%_at_50%-20%,rgb(255,0,0,.40),rgba(255,105,180,.20))]
 dark:text-white dark:bg-neutral-950 dark:bg-[radial-gradient(ellipse_80%80%_at_50%-20%,rgba(255,0,182,.20),rgba(255,255,255,0))]">
    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: 'Kalam', cursive, system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {  
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
      }

      #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      @keyframes blur {
        to {
          backdrop-filter: blur(20px);
          border-width: 1px;
          border-color: rgba(0, 0, 0);
          padding: 0.25rem 0.75rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgb(229, 229, 229);
          border-radius: 9999px;
        }
      }

      @media (prefers-color-scheme: dark) {
        @keyframes blur {
          from {
            border: 0px;
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(20px);
            border-width: 1px;
            border-color: rgba(0, 0, 0);
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 9999px;
          }
        }
      }
    </style>
  </body>
</html>
